@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    margin-bottom: 12px;
    padding-top: 30px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
header nav ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}
header .login{
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
header .login svg {
    margin-right: 4px;
}
header .login svg path{
    margin-right: 4px;
    ransition: 0.4s;
}
header nav li a:before{
    content:"";
    display: block;
    background: #46a358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -25px;
    transition: 0.4s;
}
header nav ul li a:hover{
    color: #3D3D3D;
    font-family: 'fontspring_demo_-_cera_proRg';
}
header nav ul li a:hover:before{
    width: 100%;
}
header .login:hover{
    background-color: white;
    color: #46a358 ;
}
header nav ul li{
    position: relative;
}
header nav ul li .dropdown{
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -70px;
    padding-top: 40px;
}
header nav ul li .dropdown a:before{
    display: none;
}
header nav ul li .dropdown a{
    padding: 8px 14px;
    width: 188px;
    display: inline-block;
    background: #EDF6EE;
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
    line-height: 20px;
    transition: 0.3s;
    position: relative;
}
header nav ul li .dropdown a:hover{
    background-color: #1a712a;
    color: white;
}
header nav li .dropdown li:last-of-type a:after{
    content: "";
    display: inline-block ;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: url("../images/arow.svg");
}
header nav ul li .dropdown a:hover:after{
    background-image: url("../images/arow_hover.svg");
    transform: rotate(180deg);
}
header nav ul li.drop:hover .dropdown{
    display: block;
}
header .login:hover svg path{
    stroke: #46a358;
}
.Banner article{
    max-width: 649px;
    padding-left: 40px;
}
.Banner article span{
    color: green;
}
.Banner h3{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    text-decoration: none;
    margin-bottom: 7px;
}
.Banner h1{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    text-decoration: none;
    margin-bottom: 5px;
    margin-left: 3px;
}
.Banner p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    text-decoration: none;
    margin-bottom: 44px;
    margin-left: 3px;
}
.link{
    background: #46a358;
    border-radius: 6px;
    padding-top: 11px;
    padding-right: 27px;
    padding-bottom: 9px;
    padding-left: 26px;
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}
.Categories{
    max-width: 310px;
    background: #fbfbfb;
    margin-top: 171px;
}
.Categories h3{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 7px;
    padding-left: 18px;
    text-transform: uppercase;
}
.List{
    margin-bottom: 377px;
    margin-left: 30px;
}
.Categories ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;
    line-height: 267%;
    text-decoration: none;
}
.Categories ul{
    list-style: none;
}
.Categories ul li a:hover {
    line-height: 267%;
    color: #46a358;
    transition: 0.4s;
}
.containerShort{
    display: flex;
    justify-content: space-between;
    max-width: 838px;
    margin-top: 171px;
    margin-left: 50px;
    margin-bottom: 31px;
}
.containerShort ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 38px;
}
.containerShort ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
}
.containerCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 840px;
    margin-left: 50px;
}
.containerCard article{
    margin-bottom: 70px;
    border-top: solid transparent;
    position: relative;
}
.containerCard article:hover{
    border-top: solid #46a358;
}
.containerCard article .discont{
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    display: inline-block;
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 9px;
    position: absolute;
    left: 0px;
    top: 14px;
}
.containerCard .article img{
    background: #fbfbfb;
    margin-left: 4px;
    width: 250px;
    height: 250px;
}
.containerCard article h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    text-decoration: none;
    margin-bottom: 6px;
}
.containerCard article p{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.containerCard{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}
.containerCard{
    position: relative;
    transition: border-top 0.3s ;
}
.article .IconsLink{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -140px;
    left: 41%;
    gap: 26px;
    transition: 0.4s;
}
.containerCard:hover .IconsLink{
    opacity: 1;
}
.article .IconsLink a{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    bottom: 190px;
    transition: 0.4s;
}
.Card_pages{
   display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 145px;
    list-style: none;
}
.Card_pages li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    padding: 10px;
    width: 25px;
    height: 25px;
    text-decoration: none;
}
.Card_pages li a:hover{
    content: "";
    background-color: #46a358;
    transition: 0.4s ease-in-out;
    color: #ffffff;
}
.Blog{
    max-width: 1202px;
    margin: auto;
    padding-top: 78px;
    padding-left: 119px;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 148px;
}
.containerTrends{
    display: flex;
    justify-content: space-between;

    max-width: 586px;
    background: #fbfbfb;
    text-align: right;
}
.containerCactus{
    display: flex;
    justify-content: space-between;

    text-align: right;
    max-width: 586px;
    background: #fbfbfb;
}
.containerTrends article h3{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    text-decoration: none;
    margin-top: 89px;
    margin-right: 35px;
    margin-bottom: 9px;
}
.containerTrends article p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    text-decoration: none;
    margin-right: 35px;
    margin-bottom: 25px;
}
.containerCactus article h3{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    text-decoration: none;
    margin-top: 89px;
    margin-right: 30px;
    margin-bottom: 9px;
}
.containerCactus article p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-right: 30px;
    margin-bottom: 25px;
    text-decoration: none;
}
.containerCactus article a{
    text-align: right;
    margin-right: 30px;
}
.containerTrends article a{
    text-align: right;
    margin-right: 35px;
}
.containerBlog h3{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
    text-decoration: none;
}
.containerBlog p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
    text-decoration: none;
}
.containerBlog{
    max-width: 1200px;
}
.containerNumber{
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}
.containerNumber article{
    width: 268px;
    background: #fbfbfb;
}
.containerNumber article h5{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
    margin-left: 15px;
    text-decoration: none;
}
.containerNumber article h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
    margin-left: 15px;
    text-decoration: none;
}
.containerNumber article p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
    text-align: left;
    margin-left: 15px;
    text-decoration: none;
}
.containerNumber article a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    margin-left: 15px;
    text-decoration: none;
    list-style: none;
}
.FooterBlock{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    align-items: center;
    margin-right: 120px;
}
.FooterBlock1{
    padding-top: 24px;
    padding-left: 25px;
    padding-bottom: 24px;
    flex-direction: row;
    gap: 61px;
}
.Footer_input_block{
    padding-top: 24px;
    padding-right: 25px;
    padding-bottom: 24px;
    padding-left: 62px;
}
.Containerinput{
    border-radius: 6px;
    max-width: 354px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    overflow: hidden;
    height: 40px;
    margin-bottom: 25px;
    display: inline-flex;
}
.Containerinput input{
    border: none;
    background: transparent;
    height: 40px;
    width: 269px;
    border-radius: 6px;
   }
.Containerinput button{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
    background: #46a358;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border: none;
}
.FooterBlock1 h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
    text-decoration: none;
}
.FooterBlock1 p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 24px;
    text-decoration: none;
}
.Footer_input_block h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
    text-decoration: none;
}
.Footer_input_block p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    margin-bottom: 25px;
    text-decoration: none;
}
.Footer_centre{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}
.Footer_centre a{
    padding-left: 23px;
}
.Footer_centre .Footer_centre_phone{
    padding-right: 23px;
}
.Footer_centre_address, .Footer_centre_mail, .Footer_centre_phone{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
    gap: 10px;

    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    text-decoration: none;
}
.Footer_info{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    background: #fbfbfb;
}
.Footer_info_MyAccount h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-top: 33px;
    padding-left: 25px;
    padding-bottom: 19px;
    text-decoration: none;
}
.Footer_info_MyAccount ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
}
.Footer_info_MyAccount ul, .Footer_info_HelpGuide ul, .Footer_info_Categories ul{
    list-style: none;
}
.Footer_info_HelpGuide h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 8px;
}
.Footer_info_HelpGuide ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
}
.Footer_info_Categories h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 8px;
}
.Footer_info_Categories ul li a{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
}
.Footer_info_MyAccount,.Footer_info_HelpGuide, .Footer_info_Categories{
    margin-bottom: 27px;
}
.Media{
    padding-top: 33px;
    padding-right: 155px;
    padding-bottom: 47px;
}
.Footer_info_social h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    padding-bottom: 20px;
}
.Footer_peymetodes h4{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    padding-bottom:14px;
}
.Footer_info_social {
    padding-bottom: 33px;
}
.Reserved p{
    font-family: 'fontspring_demo_-_cera_proRg';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
    text-align: center;
}

