* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}
.Categories{
    width: 370px;
    background: #fbfbfb;
}
.Categories h3{
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    margin-top: 14px;
    margin-bottom: 7px;
}
.Categories nav ul{
    margin-bottom: 377px;
}

.Categories nav ul li a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;
    text-decoration: none;
}
.Categories nav ul li a:hover {
    line-height: 267%;
    color: #46a358;
    ransition: 0.3s;
}
.Short{
    display: flex;
    justify-content: space-between;
}
.containerPlants{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.containerPlants article{
    max-width: 840px;
    margin-right: 50px;
}
