*{
    margin: 0;
    padding: 0;
}
.box{
    max-width: 500px;
    margin: auto;
}
.box h3{
    margin-top: 52px;
    padding-left: 172px;
}
.box h3 span{
    color: green;
}
.sub_title{
    margin-top: 40px;
    margin-bottom: 14px;
}

.holder {
     margin-bottom: 14px;
     display: block;
     width: 100%;
     height: 40px;
 }
.holder{
     margin-bottom: 16px;
    display: block;
     width: 100%;
     height: 40px;
 }
.holder{
    margin-bottom: 16px;
    display: block;
    width: 100%;
    height: 40px;
}
.holder{
    margin-bottom: 16px;
    display: block;
    width: 100%;
    height: 40px;
}
.batton{
    padding-top: 16px;
    padding-right: 118px;
    padding-bottom: 13px;
    padding-left: 119px;
    margin-bottom: 36px;
    width: 100%;
    height: 45px;
    background-color: green;
    color: white;
}
.subtitle{
    margin-bottom: 27px;
    text-align: center;
}
.link{
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
}
.link{
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
}

